# === Archivos de datos pesados ===
Regularizacion/*.csv
data/
*.zip
*.tar.gz
tarea_2/*.csv

# === Carpetas temporales del sistema ===
__MACOSX/
.DS_Store
Thumbs.db
wandb/

# === Entornos locales ===
.env/
.venv/
env/
venv/
*.egg-info/

# === Archivos temporales de notebooks ===
.ipynb_checkpoints/
*.pyc